{% extends "base.html" %}
{% block content %}
<h1>Form Test</h1>
{% if name %}
<h3>Hello {{name}}!</h3>
{% else %}
<h3>Hello stranger!</h3>
{% endif %}
<!-- Rendering the classic way -->
<form method="post">
    {{ form.hidden_tag()}}
    <!-- pass HTML attributes as parameters to the element constructor -->
    {{ form.name.label }} {{ form.name(id='my_id') }}
    {{ form.submit(value='Send') }}
</form>
{% for msg in get_flashed_messages() %}
<div class="alert alert-warning">{{msg}}</div>
{% endfor %}
{% endblock %}
