<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#!">{{title|title}}</a>
        {% if ('started' not in session or not session.started) %}
        {% if request.endpoint and '/login' != url_for(request.endpoint) and '/' != url_for(request.endpoint) %}
        <a class="btn btn-success" href="{{url_for('login')}}">Login</a>
        {% endif %}
        {% else %}
        <a class="btn btn-danger" href="{{url_for('logout')}}">Logout {{session.email}}</a>
        {% endif %}
    </div>
</nav>