{% include 'header.html' %}
<body>
<!-- Navigation-->
{% include 'nav.html' %}
<!-- Masthead-->
<div class="container">
    {% block content %}
    {% if items%}
    <table class="table">
        <thead class="thead-dark">
        <tr><td colspan="5"><h1>{{list['name']}} ({{items|count}} {{translate('task(s)', locale)}})</h1></td></tr>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{translate('Text', locale)}}</th>
            <th scope="col">{{translate('Priority', locale)}}</th>
            <th scope="col">{{translate('Action', locale)}}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <th scope="row">{{item['id']}}</th>
            <td>{{item['text']}}</td>
             <td>{{item['prio']}}</td>
            <td><a href="{{url_for('main.list_item_set_done', item_list_id=item['id'],list_id=list['id'])}}"><i class="btn btn-success fa fa-check" style="font-size:24px"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr><td colspan="5"><a class="btn btn-success" href="{{url_for('main.list_item_create', list_id=list['id'])}}">{{translate('New Task', locale)}}</a>
            <a class="btn btn-warning" href="{{url_for('main.list_item_fix_priorities', list_id=list['id'])}}"><i class="fa fa-list" style="font-size:24px"></i> {{translate('Fix Priorities', locale)}}</a>
        </td>
        </tr>
        </tfoot>
    </table>
    {% else %}
    <h1>{{translate('No items for list "{}"', locale).format(list.name)}}</h1>
    <a class="btn btn-success" href="{{url_for('main.list_item_create', list_id=list['id'])}}"><i class="fa fa-plus" style="font-size:24px"></i>  {{translate('New Task', locale)}}</a>
    {% endif %}
    {% endblock %}
    {% block flashed %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">{{message}}</div>
    {% endfor %}
    {% endblock %}
</div>
<!-- Footer-->
{% include 'footer.html' %}